# =========================
# Go test cache
# =========================
*.test
*.out
out
coverage.*
*.coverprofile
profile.cov

# =========================
# Go modules
# =========================
go.sum
go.work
go.work.sum

# =========================
# Environment variables
# =========================
.env
.env.local

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# IDE / editors
# =========================
.vscode/
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
*.exe
*.exe~
*.dll
*.so
*.dylib

# =========================
# Docker
# =========================
docker-compose.override.yml